body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

.photo {
    margin-bottom: 20px;
}

.photo img {
    width: 100%;
    display: block;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags span {
    background-color: #e6e6e6;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

/* Media Queries para dispositivos con un ancho máximo de 768px (teléfonos) */
@media (max-width: 768px) {
    .tags {
        width: 100%; /* Ancho completo para dispositivos móviles */
    }
}

/* Media Queries para dispositivos con un ancho mínimo de 768px (pantallas grandes) */
@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .photo {
        margin-bottom: 0;
    }
}
